<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      活動列表EvnetList
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page19">
    <div padding>
        <ion-segment [(ngModel)]="event_list">
          <ion-segment-button value="Perm">
            常駐活動
          </ion-segment-button>
          <ion-segment-button value="Single">
              單次活動
          </ion-segment-button>
          <ion-segment-button value="Outdate">
              過去活動
            </ion-segment-button>
        </ion-segment>
      </div>
      <div [ngSwitch]="event_list">
  <!-- <h1 id="EvnetList-heading31" style="color:#000000;">
    常駐活動
  </h1> -->
  <ion-list  *ngSwitchCase="'Perm'">
    <!-- <ion-item-divider color="light" id="EvnetList-list-item-divider13">
      Campus
    </ion-item-divider> -->
    <ion-item-divider   color="light" id="EventCalendar-list-item-divider8">
        常駐活動
      </ion-item-divider>
    <ion-item  *ngFor="let List of Perm_List" on-click="goToUpdateEvent()" >
      {{List.Event_Name}}
    </ion-item>
  </ion-list>
  <!-- <h1 id="EvnetList-heading32" style="color:#000000;">
    單次活動
  </h1> -->
  <ion-list *ngSwitchCase="'Single'">
    <div *ngFor="let Event of Single_List">
      <ion-item-divider   color="light" id="EventCalendar-list-item-divider8">
          {{Event.key}}
        </ion-item-divider>
  <ion-item color="none"  *ngFor="let event of Event.list" on-click="goToUpdateEvent()"  >
    {{event.Event_Name}}
  </ion-item>
</div>
  </ion-list>
  <!-- <h1 id="EvnetList-heading33" style="color:#000000;">
    過去活動
  </h1> -->
  <ion-list *ngSwitchCase="'Outdate'">
    <div *ngFor="let Event of Outdate_List">
      <ion-item-divider   color="light" id="EventCalendar-list-item-divider8">
          {{Event.key}}
        </ion-item-divider>
  <ion-item color="none"  *ngFor="let event of Event.list" on-click="goToUpdateEvent()"  >
    {{event.Event_Name}}
  </ion-item>
</div>

  </ion-list>
</div>
</ion-content>