<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      點名系統-活動名稱:{{temp.Event_Name}} TakeAttendance
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  <form id="TakeAttendance-form1">
    <ion-item id="TakeAttendance-input1">
      <ion-label></ion-label>
      <ion-input type="text" placeholder="輸入會員號碼"></ion-input>
    </ion-item>
  </form>
  <button id="TakeAttendance-button7" ion-button color="positive" block>
    點名
  </button>
  <h1 id="TakeAttendance-heading5" style="color:#000000;">
    活動名稱: {{temp.Event_Name}}
  </h1>
  <div id="TakeAttendance-markdown6" class="show-list-numbers-and-dots">
    <!-- <p style="color:#000000;">
      內容: max PEPPLE
    </p> -->
  </div>

  <div *ngFor="let list of Attend_List">
    <ion-item-divider   color="light">
        {{list.key}}
      </ion-item-divider>
<ion-item color="none"  *ngFor="let event of list.list" on-click="goToEvnetInfo()" >
  {{event.Chinese_Name}}
</ion-item>
</div>
  <!-- <ion-list id="TakeAttendance-list6">
    <ion-item-divider color="light" id="TakeAttendance-list-item-divider2">
      出席名單
    </ion-item-divider>
    <ion-item color="none" id="TakeAttendance-list-item18">
      陳大文
    </ion-item>
    <ion-item-divider color="light" id="TakeAttendance-list-item-divider3">
      未出席
    </ion-item-divider>
    <ion-item color="none" id="TakeAttendance-list-item19">
      黃大仙
    </ion-item>
  </ion-list> -->
</ion-content>