<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      推薦名單EventSuggestList
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page13">
  <ion-item *ngFor="let Event of List, let i = index">
    <ion-label *ngIf="List[i].fam_member!=null">
        {{List[i].Chinese_Name}}--{{List[i].fam_member}}
    </ion-label>
    <ion-label *ngIf="List[i].fam_member==null">
      {{List[i].Chinese_Name}}
  </ion-label>
 
    <ion-checkbox  [(ngModel)]="List[i].Check" ></ion-checkbox>
  </ion-item>
    <!-- <ion-item id="EventSuggestList-checkbox20">
      <ion-label>
        路人1
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item id="EventSuggestList-checkbox21">
      <ion-label>
        路人2
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item id="EventSuggestList-checkbox22">
      <ion-label>
        路人3
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item id="EventSuggestList-checkbox23">
      <ion-label>
        路人4
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item id="EventSuggestList-checkbox24">
      <ion-label>
        路人5
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item id="EventSuggestList-checkbox25">
      <ion-label>
        路人6
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item> -->
  
  <button id="EventSuggestList-button18" on-click="submit()" ion-button color="positive" block>
    報名
  </button>
</ion-content>