<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      活動時間表EventCalendar
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page9">
  <form id="EventCalendar-form32">
    <ion-item id="EventCalendar-input63">
      <ion-label>
        拍八達通/會員名稱
      </ion-label>
      <ion-input type="text" placeholder=""></ion-input>
    </ion-item>
  </form>
  <button id="EventCalendar-button15" ion-button color="positive" block on-click="goToMemberEventRecord()">
    尋找
  </button>
  <h1 id="EventCalendar-heading24" style="color:#000000;">
    {{Month}}月活動
  </h1>

  <ion-list id="EventCalendar-list11">
    <div *ngFor="let Event of Events">
        <ion-item-divider   color="light" id="EventCalendar-list-item-divider8">
            {{Event.key}}
          </ion-item-divider>
    <ion-item color="none"  *ngFor="let event of Event.list" on-click="goToEventInfo(event)" id="EventCalendar-list-item33">
      {{event.Event_Name}}
    </ion-item>
  </div>
  
  </ion-list>
  
  
</ion-content>