<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      會員列表MemberList
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  
    <ion-item id="MemberList-input62">
      <ion-label>
        會員名稱/拍八達通
      </ion-label>
      <ion-input type="text" placeholder=""></ion-input>
    </ion-item>
    <button id="MemberList-button12" ion-button color="positive" block on-click="goToMembershipEdit()">
      尋找
    </button>
    <ion-item>
      <ion-label>
        類別
      </ion-label>
        <ion-select [(ngModel)]="Select_type" name="Select_type" (ionChange)="Mem_type_change()">
          <ion-option *ngFor="let member_type of member_types" value="{{ member_type.ID }}">
              {{member_type.Name}}
            </ion-option>
      </ion-select>
    </ion-item>
  
  <ion-list id="MemberList-list8">
    <ion-item-divider color="light" >
      會員列表
    </ion-item-divider>
    <ion-item color="none" *ngFor="let Member of Member_List" (click)="goToMemberInfo(Member)" >
      {{Member.Chinese_Name}} 
    </ion-item>
    
  </ion-list>
</ion-content>