<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      職員設定StaffSetting
    </ion-title>
    <ion-buttons end >
        <button ion-button icon-only color="royal" (click)="openMenu()">
            <ion-icon name="settings"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page22">
  <!--
  <button id="StaffSetting-button25" ion-button color="positive" block>
    登出
  </button>
  <button id="StaffSetting-button26" ion-button color="positive" block>
    更改密碼
  </button>-->
  <ion-list id="StaffSetting-list24">
    <ion-item color="none" *ngIf="UserAccount" on-click="goToStaffList()" id="StaffSetting-list-item21">
      帳號管理
    </ion-item>
    <ion-item color="none" *ngIf="UserLevel" on-click="goToStaffLevelList()" id="StaffSetting-list-item54">
      <!-- 部門設定 -->
      職級設定
    </ion-item>
    <ion-item color="none" *ngIf="PermissionSetting" on-click="goToPermission()"id="StaffSetting-list-item32">
      權限設定
    </ion-item>
  </ion-list>
</ion-content>