<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      報名名單EventAppliedList
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page14">
  <button id="EventAppliedList-button19" ion-button color="positive" block>
    強制加入
  </button>
  <ion-list id="EventAppliedList-list17">
    <ion-item-divider color="light" id="EventAppliedList-list-item-divider10">
      確認
    </ion-item-divider>
    
    <ion-list id="EventAppliedList-list19">
        <ion-item *ngFor="let Event of Confirm_List, let i = index" on-click="goToMemberEventInfo()">
            <ion-label *ngIf="Confirm_List[i].fam_member!=null">
                {{Confirm_List[i].Chinese_Name}}--{{Confirm_List[i].fam_member}}
            </ion-label>
            <ion-label *ngIf="Confirm_List[i].fam_member==null">
              {{Confirm_List[i].Chinese_Name}}
          </ion-label>
            <!-- <ion-checkbox  [(ngModel)]="List[i].Check" ></ion-checkbox> -->
          </ion-item>
      <!-- <ion-item color="none" on-click="goToMemberEventInfo()" id="EventAppliedList-list-item72">
        Item 1
      </ion-item>
      <ion-item color="none" on-click="goToMemberEventInfo()" id="EventAppliedList-list-item73">
        Item 2
      </ion-item>
      <ion-item color="none" on-click="goToMemberEventInfo()" id="EventAppliedList-list-item74">
        Item 3
      </ion-item> -->
    </ion-list>
    <ion-item-divider color="light" id="EventAppliedList-list-item-divider11">
      等候
    </ion-item-divider>
    <ion-list id="EventAppliedList-list18">
      <ion-item color="none" on-click="goToMemberEventInfo()" id="EventAppliedList-list-item69">
        Item 1
      </ion-item>
      <ion-item color="none" on-click="goToMemberEventInfo()" id="EventAppliedList-list-item70">
        Item 2
      </ion-item>
      <ion-item color="none" on-click="goToMemberEventInfo()" id="EventAppliedList-list-item71">
        Item 3
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>